@*@{
    ViewBag.Title = "介绍";
}*@
<p class="add" style="font-size:30px;color:beige">介绍</p> <br />
<!DOCTYPE html>
<style>
    .js {
        font-size: 16px;
        font-weight: 500;
        color: darkgray;
    }
</style>

<html>
<body>
    <div class="js">
        <p>&ensp;&ensp; &ensp; &ensp;为什么很多破解工具，例如叫cracker, Generator，activation或很多注册机之类的软件都会有很奇怪的背景音乐， 那些音乐听起来很像以前小霸王游戏的音乐或一些古老的16位机，8位机游戏的音乐，听起来很诡异的那种. </p>
        <p>&ensp;&ensp; &ensp; &ensp;这是一种黑客文化。因为早期的电子设备一般都是8位的，一般也就几十K的内存，所以很多程序编写起来都非常困难。在当时，编写一个破解工具绝对是智慧的象征。同样的，在当时，别说是视频，就是一段音乐也很难加载到内存当中，因为内存实在是太小了，甚至是存储器也太小了，所以当时的Geek们就想方设法通过很简短的算法语句临时生成一些波形来播放音乐，这种算法要求很高，既不能超内存，又要考虑当时慢的可怜的运算器，所以虽然这样的音乐听上去一般般，但是制作这样的音乐是一种很酷炫的秀技术手段。</p>
        <p>&ensp;&ensp; &ensp; &ensp; </p>
        <div class="js" align="center">
            <img src="@Url.Content("~/Content/images/keyGen4.jpg")" style="max-width: 100%; height:auto; background-repeat: repeat;opacity:1.0;" />
        </div>
        <p>&ensp;&ensp; &ensp; &ensp; </p>
        <p>&ensp;&ensp; &ensp; &ensp;后来这两种装逼技巧不知怎么的就结合在了一起，很多破解工具或是keygen当中都会加入一段占用运算资源极少，而且占用内存绝不超过32kb的波形生成程序，成了圈子里的一种传统习俗。这些音乐通常只有十几KB。文件格式应该都属于很古董的了。用千千静听或AIMP可以播放或转换格式。用XM支持库还可以把这些音乐插入到自己写的程序里面去。
        </p>
    </div>
        @*<div class="js" align="center">
            <img src="@Url.Content("~/Content/images/KeyGen4.jpg")" style="max-width: 100%; height:auto; " />
        </div>*@
    <div class="js">
        <p>&ensp;&ensp; &ensp; &ensp;因为当年，他们在做注册机的时候，是一个蛮荒时代。那个时候，互联网也很不发达，很多人还依赖于bbs。对文件的尺寸更是敏感，因此如何在最小的size下，还能做出特殊效果，成为他们的挑战，也是他们展示技术的舞台。时至今日，我们在用新的注册机时，cracker们也遵循了这段历史，向前辈们致敬。</p>
    </div>

        <div>
            <img src="@Url.Content("~/Content/images/KeyGen1.jpg")" style="max-width: 100%; height:auto; "/>
            <img src="@Url.Content("~/Content/images/KeyGen3.jpg")" style="max-width: 100%; height:auto; "/>
            <img src="@Url.Content("~/Content/images/KeyGen2.jpg")" style="max-width: 100%; height:auto; "/>
        </div>

</body>
</html>
